body {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

#rain1 {
    padding: 10px;
    font-size: 20px;
}

#rain2 {
    padding: 10px;
    font-size: 20px;
}
