body {
    margin: 0%;
    display: flex;
    background-image: linear-gradient(salmon, white);
    flex-direction: column;
    align-items: center;
    font-family: japones;
    src: url(../fonts/HIROMISAKE.ttf);
}

@font-face {
    font-family: japones;
    src: url(../fonts/HIROMISAKE.ttf);
}

.rain1 {
    font-size: 20px;
    padding-top: 10px;
}

.rain1::-webkit-input-placeholder{
    color: brown;
}


form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campos {
    display: flex;
    flex-direction: column;
    width: 100%;
    src: url(../fonts/HIROMISAKE.ttf);
}

button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;

}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 450px;
    border-radius: 15px;
    src: url(../fonts/HIROMISAKE.ttf);
}

#comentario {
    border-radius: 15px;
    padding-top: 12px;
    padding-bottom: 50px;
    src: url(../fonts/HIROMISAKE.ttf);

}