body {
    margin: 0%;
    display: flex;
    background-image: linear-gradient(salmon, white);
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.rain1 {
    font-size: 20px;
    padding-top: 10px;
}


form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 15px;
}

input {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 450px;
    border-radius: 15px;
}

#comentario {
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 45px;

}