<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sushi Dela's</title>
    <link rel="stylesheet" type="text/css" href="style.header.css">
    <link rel="icon" type="image/x-icon" href="../assets/images/LOGO (2).png">
</head>

<body>
    <div class="container">
        <img src="../assets/images/LOGO (2).png" alt="logo temporaria">
        <h1>SUSHI DELA'S</h1>
        <nav>
            <ul>
                <li><a href="../index.html" target="_parent">home</a></li>
                <li><a href="../pages/contato.html" target="_parent">feedback</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>